@model List<ClienteModel>

<div class="text-center">
    <h2>Lista de Clientes</h2>
   
    <br>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-primary" role="button" asp-controller="Clients" asp-action="Criar">Adicionar Cliente</a>
    </div>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">CPF</th>
                <th scope="col">Nome</th>
                <th scope="col">Gênero</th>
                <th scope="col">Quantidade Pets</th>
                <th scope="col">Contato</th>
                <th scope="col">E-mail</th>
                <th scope="col">Endereco</th>      
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any()){
               int i = 1;
                foreach(ClienteModel cliente in Model){
                    <tr>
                        <th scope="row">@i</th>

                        <td>@cliente.CPF</td>

                        <td>@cliente.Nome</td>

                        <td>@cliente.Genero</td>

                        <td>@cliente.QuantidadePets</td>

                        <td>@cliente.Contato</td>

                        <td>@cliente.Email</td>

                        <td>@cliente.Endereco</td>

                        <td>
                            <a role="button" class="btn btn-primary" asp-route-id="@cliente.id" asp-controller="Clients" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-danger" asp-route-id="@cliente.id" asp-controller="Clients" asp-action="VerificarDeletar">Deletar</a>
                        </td>
                    </tr>    
                    i++;     
                }
            }
        </tbody>
    </table>
</div>