@model ProdutoModel

@{
    ViewData["Title"] = "Página de Produtos";
}
<div class="text-center">
    <h1 class="display-4">Editar Produto</h1>
 
</div>

<!-- AQUI TIRA TODOS OS ASP FOR -->
<form method="post" asp-controller="Products" asp-action="Atualizar">
    <input type="hidden" asp-for="CodigoDeBarra"/>

    <div class="mb-3">
        <label for="cnpj">CNPJ</label>
        <input type="text" class="form-control" asp-for="CNPJ" id="cnpj" placeholder="00.000.000/0000-00" required>
        @Html.ValidationMessageFor(x => x.CNPJ)
    </div>

    <div class="mb-3">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" asp-for="Nome" id="nome" placeholder="Insira o nome do produto" required>
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="mb-3">
        <label for="classeDoProduto">Classe do produto</label>
        <input type="text" class="form-control" asp-for="ClasseDoProduto" id="classeDoProduto" placeholder="Insira a classe do produto (ex: Alimento, Bebida...)" required>
        @Html.ValidationMessageFor(x => x.ClasseDoProduto)
    </div>

    <div class="mb-3">
        <label for="valor">Valor</label>
        <input type="text" class="form-control" asp-for="Valor" id="valor" placeholder="R$ 0000.00" required>
        @Html.ValidationMessageFor(x => x.Valor)
    </div>

    <div class="mb-3">
        <label for="dataDeValidade">Data de Validade</label>
        <input type="text" class="form-control" asp-for="DataDeValidade" id="dataDeValidade" placeholder="00/00/0000" required>
        @Html.ValidationMessageFor(x => x.DataDeValidade)
    </div>

    <div class="mb-3">
        <label for="quantidadeEmEstoque">Quantidade em estoque</label>
        <input type="text" class="form-control" asp-for="QuantidadeEmEstoque" id="quantidadeEmEstoque" placeholder="Insira a quantidade disponível em estoque" required>
        @Html.ValidationMessageFor(x => x.QuantidadeEmEstoque)
    </div>

    <button type="submit" class="btn btn-primary">Alterar</button>
    <a role="submit" class="btn btn-secondary" asp-controller="Products" asp-action="IndexProdutos">Voltar</a>
</form>

