@model List<ProdutoModel>

<div class="text-center">
    <h2>Lista de Produtos</h2>
   
    <br>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-primary" role="button" asp-controller="Products" asp-action="Criar">Adicionar Produto</a>
    </div>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#Codigo de Barra</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Nome</th>
                <th scope="col">Classe</th>
                <th scope="col">Valor</th>
                <th scope="col">Validade</th>  
                <th scope="col">Estoque</th>  
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any()){
               int i = 1;
                foreach(ProdutoModel produto in Model){
                    <tr>
                        <th scope="row">@i</th>

                        <td>@produto.CNPJ</td>

                        <td>@produto.Nome</td>

                        <td>@produto.ClasseDoProduto</td>

                        <td>@produto.Valor</td>

                        <td>@produto.DataDeValidade</td>

                        <td>@produto.QuantidadeEmEstoque</td>

                        <td>
                            <a role="button" class="btn btn-primary" asp-route-id="@produto.CodigoDeBarra" asp-controller="Products" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-danger" asp-route-id="@produto.CodigoDeBarra" asp-controller="Products" asp-action="VerificarDeletar">Deletar</a>
                        </td>
                    </tr>    
                    i++;     
                }
            }
        </tbody>
    </table>
</div>